<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Banco de dados Ecollis</title>
    <style>
        marg {
            border: 1px solid rgb(185, 213, 255);
            margin: 0.1rem 0.1rem 0.1rem 0.1rem;
            background-color: rgb(185, 213, 255);
            font-size: large;
        }

        body {
            border: 1px solid rgb(0, 0, 0);
            margin: 0.1rem 0.1rem 0.1rem 0.1rem;
            background-color: darkgrey;
            font-size: large;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand navbar-dark bg-dark" aria-label="Second navbar example">
        <div class="container-fluid">
            <a class="navbar-brand" href="/" style="color: #f0d90d;">Banco de dados Ecollis</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample02">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Pagina inicial</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/novo">Novo Cliente</a>
                    </li>
                </ul>
                <form>
                    <input class="form-control" type="text" placeholder="Pesquisa" aria-label="Search">
                </form>
            </div>
        </div>
    </nav>

    <table class="table table-dark" style="display: flex;">
        <th>
        <svg ; xmlns="http://www.w3.org/2000/svg " width="16 " height="16 " fill="currentColor " class="bi bi-table " viewBox="0 0 16 16 ">
            <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm15 2h-4v3h4V4zm0 4h-4v3h4V8zm0 4h-4v3h3a1 1 0 0 0 1-1v-2zm-5 3v-3H6v3h4zm-5 0v-3H1v2a1 1 0 0 0 1 1h3zm-4-4h4V8H1v3zm0-4h4V4H1v3zm5-3v3h4V4H6zm44H6v3h4V8z "/></svg>
            <td href="/">Data </td>
            <td> Nome </td>
            <td> Endereço </td>
            <td> Cidade </td>
            <td> CEP</td>
            <td> Telefone</td>
            <td> kWp</td>
            <td> Preco</td>
            <td> Marca do Inversor</td>
            <td> Marca da placa </td>
            <td> <a href="/status">Instalacao concluida</a></td>
        </th>
        <tr>
        {% block content %} 
        {% endblock %}
        </tr>
    </table>
    </body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js " integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM " crossorigin="anonymous "></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js " integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p " crossorigin="anonymous "></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js " integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF " crossorigin="anonymous "></script>

</html>