{% extends 'base.html' %} {% block content %}
<h1>
    <table class="table table-striped table-sm">
        <div class="input-group gap-3">
            <marg>
                <form action="#" method="post">
                    <input type="text" name="nome" class="form-control" placeholder="Nome do Cliente">
                    <input type="text" name="endereco" class="form-control" placeholder="Endereço de instalação">
                    <div class="input-group input-group-sm">
                        <input type="text" name="cidade" class="form-control" placeholder="Cidade de instalação">
                        <input type="integer" name="cep" class="form-control" placeholder="CEP">
                    </div>
                    <input type="integer" name="telefone" class="col-form-label-sm" placeholder="telefone">
                    <div class="input-group input-group-sm">
                        <input type="text" name="kwp" class="form-control" placeholder="kWp">
                        <input type="text" name="inv" class="form-control" placeholder="Inversor">
                        <input type="text" name="placa" class="form-control" placeholder="Placa">
                    </div>
                    <input type="submit" class="btn  btn-secondary btn-sm btn-submit " value="Salvar Cadastro ">
                </form>
            </marg>
        </div>
    </table>
</h1>
{% endblock %}